$color-primary: #0490b2;
$color-secondary: #62a966;

$color-black: #000000;
$color-white: #ffffff;

$color-dark-gray: #8c8c8c;
$color-gray: #dcdcdd;
$color-success: #62a965;
$color-danger: #b71b24;

$font-xs: 12px;
$font-small: 14px;
$font-normal: 16px;
$font-medium: 18px;
$font-large: 20px;
